#main-navbar{
  background-color: green;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline-block;
}

#main-navbar ul li {
  float: left;
}

#main-navbar ul li a{
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #54436B;
}

#navbar-container{
  position: relative;
  text-align: center;
  width: 100%
}

#onpage{
  text-decoration: underline overline;
}

li {
  font-family: 'Zilla Slab', serif;
  text-align: left;
  font-size: 25px;
}

p{
  text-align: center;
  font-family: 'Zilla Slab', serif;
  font-size: 25px;
}


h1.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 75px;
  text-align: center;
  padding: 20px 50px;
  margin: 10px 10px;
}

h2.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 48px;
  text-align: left;
  padding: 25px 50px;
  margin: 10px 10px;
}

h3.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 40px;
  text-align: left;
  padding: 50px 0px 50px 0px;
  margin: 10px 10px;
}

img.resizeimg {
  margin: 20px 100px 20px 100px;
  padding: 20px 100px 20px 100px;
  border: 20px solid #019267;
  width: 20%;
  height: 40%;
}

#resumecenter {
  background-color: #00C897;
  font-color: #1C6758;
  font-size: 25px;
  text-align: center;
  padding: 20px 20px;
}