#main-navbar{
  background-color: green;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline-block;
}

#main-navbar ul li {
  float: left;
}

#main-navbar ul li a{
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #54436B;
}

#navbar-container{
  position: relative;
  text-align: center;
  width: 100%
}

#onpage{
  text-decoration: underline overline;
}

.rs01{
  margin: 5px 0px 5px 20px;
}

p{
  font-size: 25px;
  padding: 0px 0p;
  margin-left: 10 px;
}

ul{
  margin: 20px 0px 0px 50px;
}

li {
  font-family: 'Zilla Slab', serif;
  list-style-position: inside;
  text-align: left;
  font-size: 25px;
}


h1.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 75px;
  text-align: center;
  padding: 20px 50px;
  margin: 10px 10px;
}

h2.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 48px;
  text-align: left;
  padding: 25px 50px;
  margin: 10px 10px;
}

h3.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 40px;
  text-align: left;
  padding: 20px 0px 20px 50px;
  margin: 10px 10px;
}

img{
  display: block;
  border: 20px solid #019267;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 40%;
}

#resumecenter {
  background-color: #00C897;
  font-size: 25px;
  text-align: center;
  padding: 20px 20px;
}

body {
  font-family: 'Zilla Slab', serif;
  font-size: 25px;
}

footer{
  padding: 20px 0px 0px 15px;
}