#main-navbar{
  background-color: green;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline-block;
}

#main-navbar ul li {
  float: left;
}

#main-navbar ul li a{
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #FDFFA9;
  font-color: #000;
}

#navbar-container{
  position: relative;
  text-align: center;
  width: 100%
}

#onpage{
  text-decoration: underline overline;
}

li {
  font-family: 'Zilla Slab', serif;
}

p{
  padding: 75px;
  font-family: 'Zilla Slab', serif;
  font-size: 30px;
}


h1.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 75px;
  text-align: center;
  padding: 20px 50 px;
  margin: 10px 10px;
}

h2.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 48px;
  text-align: left;
  padding: 25px 50 px;
  margin: 10px 10px;
}

h3.specialfont{
  font-family: 'introrustg-base2line', serif;
  font-size: 40px;
  text-align: left;
  padding: 50px 50px;
  margin: 10px 10px;
}

img.resizeimg {
  border: 20px solid #019267;
  width: 20%;
  height: 40%;
}

#resumecenter {
  background-color: #00C897;
  font-color: #FFD365;
  font-size: 25px;
  text-align: center;
  padding: 20px 20px;
}